:root {
    --gray-100: #f2f2f2;
    --gray-300: #808080;
    --gray-400: #333333;
    --gray-500: #262626;
    --gray-600: #1a1a1a;
    --gray-700: #0d0d0d;

    --blue-dark: #1e6f9f;
    --blue: #4ea8de;

    --purple: #8284fa;
    --purple-dark: #8284fa;

    --danger: #e25858;
}

::selection {
    background-color: var(--blue-dark);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body,
input,
textarea,
button {
    outline: none;
    border: none;
}

body {
    height: 100vh;
    background-color: var(--gray-600);
    -webkit-font-smoothing: antialiased;
}

.header {
    height: 200px;
    background-color: var(--gray-700);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 125px;
}

.main {
    margin-top: -25px;
    padding: 0 2rem;
}
